
  <div class="valign-wrapper">
    <div class="container center-align">
      <div class="row">
        <div class="card-image">
          <img src="{{avatarURL}}" width="200px">
        </div>
        <div class="row">
          <h9>@{{username}}}</h6>
        </div>
        <div class="content card">
          <ul class="collection">
            <li class="collection-item">Badges <span class="new badge">{{badges}}</span></li>
            <li class="collection-item">JavaScript Points <span class="new badge">{{javascriptPoints}}</span></li>
            <li class="collection-item"><a href="/">Search Again</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div id="profile">

    <img src="{{avatarUrl}}" alt="Avatar" id="avatar">

    <p><span>@{{username}}</span></p>

    <ul>
        <li><span>{{badges}}</span> Badges earned</li>
        <li><span>{{javascriptPoints}}</span> JavaScript points</li>
        <li><a href="/">search again</a></li>
    </ul>

</div>
